// global about us 

.site-main{
    .about-area{
        padding: 3rem 0;
        .about-title{

            h2 > span{
                font: normal 600 2.5rem var(--source-Sans-Pro);
                display: block;
                letter-spacing: 1rem;
            }
        }
    }
}

// global about us