

/* CSS Variables */ 

:root{
    --primary-color: #4458dc;
    --primary-color-3:rgb(245, 61, 168);
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color-3: #777777;  
    --text-color-4: rgb(207, 207, 207);  
    --navbar-text-color: #333;  
    --border-color: #201f1f17;  
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
   
    --bg-color: #333;
    --text-color: #333;

    /* font family variables. */ 
    --source-Sans-Pro: 'Source Sans Pro';
    --font-weight: 600;
} 